<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recoverPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">recoverPassword</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="recoverForm">
    <ion-item>

      <ion-input type="email" label="Email" formControlName="email" [(ngModel)]="email" labelPlacement="floating">
        <p class="error" *ngIf="recoverForm.get('email')!.hasError('required')">Email is required</p>
      </ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!recoverForm.valid" (click)="submit()">send recover email</ion-button>
    </form>
</ion-content>
