<ion-header [translucent]="true">
  <ion-toolbar><ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button shape="round" color="danger"fill="outline" (click)="deleteWod(Wod.key)">delete
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <app-result-handler
    [userKey]="loggedUser.key"
    [wodKey]="Wod.key"
    [ask4newResult]="setResult"
  ></app-result-handler>
    <ion-title class="ion-text-center" size="large">{{title()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">editWod</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-wod-form [Wod]="Wod" (submitWod)="updateWod($event)"></app-wod-form>

</ion-content>
