<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="glass-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-breadcrumbs slot="start" class="ion-hide-sm-down">
      <ion-breadcrumb href="/home">Home</ion-breadcrumb>
      <ion-breadcrumb href="/pr-list">PR</ion-breadcrumb>
    </ion-breadcrumbs>
    <ion-title class="ion-text-center">
      <strong>{{title}}</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-user-menu></app-user-menu>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pr-container">
    <app-activities-list [userKey]="user.key"></app-activities-list>
  </div>
</ion-content>
