<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-breadcrumbs>
      <ion-breadcrumb href="#home">Home</ion-breadcrumb>
      <ion-breadcrumb href="#wod-list">Wods</ion-breadcrumb>
    </ion-breadcrumbs>
    <ion-title  class="ion-text-center" size="large" >Wods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab  vertical="bottom" horizontal="end">
  <ion-fab-button  size="small" color="light" (click)="createWod()"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>
  <ion-header collapse="condense">
    <ion-toolbar>
      <h1><strong>{{title}}</strong></h1>
    </ion-toolbar>
  </ion-header>

<ion-grid>
  <ion-row>
    <ion-col><h3>wod</h3></ion-col>
    <ion-col><h3>data</h3></ion-col>
    <ion-col><h3>note</h3></ion-col>
    <ion-col><h3>result</h3></ion-col>
  </ion-row>
  @for (item of  wods(); track item.key) {
    <ion-item> <ion-row (click)="editWod(item)">
      <ion-col >{{item.title}}
        <div class="thumbs">
      @if (item.benchmark) {
        <ion-thumbnail  >
          <ion-img src="assets/images/benchmark.png"/>
        </ion-thumbnail>
      }
      @if(item.girl) {


      <ion-thumbnail  >
        <ion-img src="assets/images/girl.png"/>
      </ion-thumbnail>
    }
    @if(item.hero) {


      <ion-thumbnail  >
        <ion-img src="assets/images/hero.png"/>
      </ion-thumbnail>
    }
        </div>
      </ion-col>
      <ion-col >{{showDate(item)}}</ion-col>
      <ion-col >{{item.note}}</ion-col>
      <ion-col  ><app-result-handler [userKey]="user.key" [wodKey]="item.key"></app-result-handler></ion-col>
      </ion-row>
      </ion-item>

  }
</ion-grid>

</ion-content>
