<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-breadcrumbs>
      <ion-breadcrumb href="#home">Home</ion-breadcrumb>
      <ion-breadcrumb href="#wod-list">Wods</ion-breadcrumb>
    </ion-breadcrumbs>
    <ion-title  class="ion-text-center" size="large" >Wods</ion-title>
  
    <ion-buttons slot="end">
      <app-user-menu></app-user-menu>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab  vertical="bottom" horizontal="end">
  <ion-fab-button  size="small" color="light" (click)="createWod()"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>
  <ion-header collapse="condense">
    <ion-toolbar>
      <h1><strong>{{title}}</strong></h1>
    </ion-toolbar>
  </ion-header>

<ion-grid class="glass-panel" style="margin: 10px;">
  <ion-row>
    <ion-col size="1" class="ion-text-center"><h3>voto</h3></ion-col>
    <ion-col><h3>wod</h3></ion-col>
    <ion-col><h3>data</h3></ion-col>
    <ion-col><h3>note</h3></ion-col>
    <ion-col><h3>result</h3></ion-col>
  </ion-row>
  @for (item of filteredWods()|customSorter:sorter; track item.key) {
    <ion-item-sliding #slidingItem>
      <ion-item> <ion-row>
        <ion-col size="1" class="ion-text-center">
          <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
            <ion-icon name="star" color="warning"></ion-icon>
            <span style="margin-left: 4px;">{{ item.ratingCount ? (item.ratingTotal / item.ratingCount | number:'1.0-1') : '-' }}</span>
          </div>
        </ion-col>
        <ion-col (click)="editWod(item)">{{item.title}}
          <div class="thumbs">
        @if (item.benchmark) {
          <ion-thumbnail  >
            <ion-img src="assets/images/benchmark.png"/>
          </ion-thumbnail>
        }
        @if(item.girl) {


        <ion-thumbnail  >
          <ion-img src="assets/images/girl.png"/>
        </ion-thumbnail>
      }
      @if(item.hero) {


        <ion-thumbnail  >
          <ion-img src="assets/images/hero.png"/>
        </ion-thumbnail>
      }
          </div>
        </ion-col>
        <ion-col >{{showDate(item)}}</ion-col>
        <ion-col >{{item.note}}</ion-col>
        <ion-col  ><app-result-handler [userKey]="user.key" [wodKey]="item.key" [showButton]="false"></app-result-handler></ion-col>
        </ion-row>
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="rateWod(item); slidingItem.close()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
        <ion-item-option color="success" (click)="triggerResultHandler(item.key); slidingItem.close()">
          <ion-icon slot="icon-only" name="clipboard"></ion-icon>
        </ion-item-option>
        <ion-item-option color="primary" (click)="editWod(item); slidingItem.close()">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteWod(item); slidingItem.close()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  }
</ion-grid>

</ion-content>
