<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="glass-header">
    <ion-title size="large">Wods</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createWod()" class="add-button">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar transparent>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="list-container">
    @for (item of wods() | customSorter:sorter; track item.key) {
      <div class="wod-card glass-effect" (click)="editWod(item)">
        <div class="card-content">
          <div class="card-header-row">
            <h2 class="wod-title">{{item.title}}</h2>
            <span class="wod-date">{{showDate(item)}}</span>
          </div>
          
          <div class="wod-note" *ngIf="item.note">
            {{item.note}}
          </div>

          <div class="card-footer-row">
            <div class="thumbs-container">
              <img *ngIf="item.benchmark" src="assets/images/benchmark.png" class="badge-icon" alt="benchmark">
              <img *ngIf="item.girl" src="assets/images/girl.png" class="badge-icon" alt="girl">
              <img *ngIf="item.hero" src="assets/images/hero.png" class="badge-icon" alt="hero">
              <img *ngIf="item.open" src="assets/images/open.png" class="badge-icon" alt="open">
              <img *ngIf="item.QF" src="assets/images/QF.png" class="badge-icon" alt="QF">
            </div>
            <div class="result-box">
              <app-result-handler [userKey]="user.key" [wodKey]="item.key"></app-result-handler>
            </div>
          </div>
        </div>
      </div>
    }
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="main-fab" (click)="createWod()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
