<ion-grid>
  <ion-row class="headers">
    <ion-col>
      <h3>massimale  </h3>
      </ion-col>
      <ion-col>
        <h3>data </h3>
        </ion-col>
        <ion-col>
          <h3>PR</h3>
          </ion-col>

          <ion-fab    vertical="bottom" horizontal="end"    >
            <ion-fab-button (click)="createActivity()" size="small"   color="light">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-row>

            <ion-row *ngFor="let pr of prList" >

              <ion-item class="pr" (click)="editPr(pr)">
                {{showPr(pr)}}
              <ion-col size="4"> <strong>{{pr.descrizione}}</strong></ion-col>
              <ion-col size="4">{{pr.getMaxPr().getDate()}}</ion-col>
              <ion-col size="4">{{pr.getMaxPr().prestazione|prestazione:pr.unity}}</ion-col><!--
              <ion-col><ion-button color="danger" (click)="deletePr(pr)"><ion-icon name=trash-outline></ion-icon></ion-button></ion-col> -->
              </ion-item>
            </ion-row>

  </ion-grid>
