<ion-grid>
  <ion-row>
    <ion-col>
      <h3>massimale di </h3>
      </ion-col>
      <ion-col>
        <h3>data </h3>
        </ion-col>
        <ion-col>
          <h3>PR</h3>
          </ion-col>
          </ion-row>

            <ion-row *ngFor="let pr of prList">
              <ion-card>
                {{showPr(pr)}}
              <ion-col><strong>{{pr.descrizione}}</strong></ion-col>
              <ion-col>{{pr.getMaxPr()?.getDate()| date:'dd/MM/yyyy' }}</ion-col>
              <ion-col>{{pr.getMaxPr()?.prestazione}}</ion-col>
              </ion-card>
            </ion-row>

  </ion-grid>
