.user-info {
  display: flex;
  align-items: center;
  gap: 8px;

  .user-email {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
    text-transform: none;
    font-weight: normal;
  }
}

ion-button {
  --background: transparent;
  --box-shadow: none;
  --padding-start: 4px;
  --padding-end: 4px;
}

ion-popover {
  --width: 200px;
}

.user-avatar {
  width: 32px;
  height: 32px;

  img {
    object-fit: cover;
    border-radius: 50%;
  }
}
