.user-info {
  display: flex;
  align-items: center;
  gap: 8px;

  .user-email {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
    text-transform: none;
    font-weight: normal;
  }
}

ion-button#user-menu-trigger {
  --background: transparent;
  --box-shadow: none;
  --padding-start: 4px;
  --padding-end: 4px;
}

ion-popover {
  --width: 240px;
}

.user-avatar {
  width: 48px;
  height: 48px;

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

.menu-thumbnail {
  --size: 32px;
  --border-radius: 6px;
  margin-right: 12px;

  img {
    object-fit: cover;
  }
}
