<ion-grid>


  <ion-row>
    <ion-col><h2>forza</h2>

    </ion-col>
    <ion-col><h2>wod</h2></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>

        <ion-item>


          <ion-input
            type="text"
            label="esercizio di forza"
            (ionChange)="updateForce($event)"
            [value]="force2Input"
            labelPlacement="floating"
          >

          </ion-input
        >



      </ion-item>

        @for(item of force(); track item;let index =$index){

        <ion-item (click)="editForce(item,index)">{{ item }}</ion-item>
        }

      </ion-list>
    </ion-col>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-input
            type="text"
            label="esercizio di wod"
            (ionChange)="updateWod($event)"
            [value]="wod2Input()"
            labelPlacement="floating"
          ></ion-input
        ></ion-item>
        @for(item of wod(); track item; let index=$index){
        <ion-item (click)="editWod(item,index)">{{ item }}</ion-item>
        }
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-fab>
        <ion-fab-button size="small"  color="light" (click)="addForce()" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-col>
    <ion-col>
      <ion-fab>
        <ion-fab-button size="small"  color="light" (click)="addActivity()" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-input
  type="text"
  label="nome wod"
  [value]="title()"
  (ionChange)="updateName($event)"
  [value]="title()"
  labelPlacement="floating"
></ion-input>
<ion-input
  type="text"
  label="note"
  [value]="note()"
  (ionChange)="updateNote($event)"
  [value]="note()"
  labelPlacement="floating"
></ion-input>
<ion-datetime
  [value]="formatDate4Picker()"
  (ionChange)="updateDate($event)"
  presentation="date"
></ion-datetime>
<ion-button (click)="submit()" color="light" slot="end" shape="round"
  >Save<ion-icon name="save-outline"></ion-icon
></ion-button>
