
<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header></app-header>
    <ion-title>
      <h1><strong>{{title}}</strong></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>





    </ion-toolbar>
  </ion-header>


  <div id="container">
  </div>
<!-- <app-activities-list [userKey]="user.key"></app-activities-list> -->
 <ion-card>
  <div class="redirect">
  <ion-img src="assets/images/Pr.jpeg" style="width: 25rem" (click)="goToPrList()"></ion-img>
  <ion-img src="assets/images/wod.jpeg" style="width: 25rem" (click)="goToWodList()"></ion-img>
  </div>
 </ion-card>
</ion-content>
