
<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header></app-header>
    <ion-title>
      <h1><strong>{{title}}</strong></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>





    </ion-toolbar>
  </ion-header>


  <div id="container">
  </div>
<!-- <app-activities-list [userKey]="user.key"></app-activities-list> -->

  <div class="redirect">
    <app-home-square title="Pr" image="assets/images/Pr.jpeg" url="/pr-list"></app-home-square>
    <app-home-square title="Wod" image="assets/images/wod.jpeg" url="/wods-list"></app-home-square>
  <div class="Wod">



  </div>
  </div>


</ion-content>
